@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #1e293d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

input {
    width: 250px;
    height: 55px;
    border-radius: 10px;
    padding-left: 20px;
    border: 0;
    opacity: 0.9;
    transition: 0.3s;
}

input::placeholder {
    color: #ffffff;
}

select {
    width: 250px;
    height: 55px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-left: 20px;
    border: 0;
    color: #ffffff;
    transition: 0.3s;
}

input:focus {
    background-color: #ffffff;
    outline: 0;
    color: #000000;
}

select:focus {
    outline: 0;
}

button {
    width: 141px;
    height: 55px;
    background: #576471;
    box-shadow: 0px 0px 40px rgba(27, 80, 97, 0.5);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
    align-self: flex-end;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 0.70;
    filter: alpha(opacity=70);
}

.item-pass {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.info-item {
    display: flex;
    height: 100%;
    flex-direction: column;
}

label {
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 20px;
}

.container-app {
    width: 90%;
    height: 490px;
    overflow-y: auto;
    opacity: 0.9;
    background-color: #2c4063;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.button-form {
    width: 90%;
    margin: auto;
}

.logout-form {
    display: flex;
    justify-content: flex-end;
}

.logout-form button {
    background-color: #149667;
}

.logout-form button:hover {
    background-color: #336C4E;
}

.group-container {
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    background-color: #2c4063;
    display: flex;
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.group-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.group-container form label {
    display: flex;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.group-container form button {
    align-self: center;
}

.min-h-screen {
    background-color: #1e293d;
}

.mb-4 {
    background-color: #556766 !important;
}

.rounded-lg {
    background-color: #556766 !important;
}

.bg-white {
    background-color: #2c4063 !important;
    color: #ffffff;
}

.bg-white form label {
    color: #ffffff;
}

.bg-white form input {
    background-color: #dbdbdb;
    color: black;
}

.bg-white div a {
    color: #ffffff;
}

.container-fluid {
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.modifyGroupButton {
    border-radius: 25px;
    font: bold 15px Arial;
    text-decoration: none;
    width: 60%;
    color: #FFFFFF;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.pokaz {
    background-color: #33b5e7;
}

.inp {
    background-color: #FFFFFF;
    color: #000000;
}

input::placeholder {
    color: black;
}

.mod {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.usun1 {
    width: 100%;
    height: 30px;
}

.usun {
    background-color: #ff3548;
}

.mod2 {
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: auto;
}
.form1{
    width: 30%;
}
.modify-container{
    height: 300px;
}
.modifybnt{
    margin-top:10px ;
}
.hei{
    height: 350px;
}
